<%- include("../partials/header.ejs") %>

<h1>User's Habits</h1>


<form method="post" action="/habits">
    <div class="mb-3">
        <label for="newHabit">Add a habit:</label>
        <input type="text" name="habit" id="newHabit" required>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>

<ul>
    <% habits.forEach(habit => { %>
        <li><%= habit.habit_name %>
            <form method="post" action="/habits/?_method=DELETE">
                <input typ="integer" name="habitId" value="<%= habit.id %>" hidden>
                <button type="submit" class="btn-close"></button>
            </form>
        </li>
    <% }) %>
</ul>

<%- include("../partials/footer.ejs") %>