<%- include("../partials/header.ejs") %>

<div class="row">
    <div class="container column text-center mt-5">
        <h2>Sign In</h2>
        <% if (message) { %>
            <p><%= message %></p>
        <% } %>
    </div>
</div>


<form class="row d-flex justify-content-center g-3" method="POST" action="/users/login">
    <div class="col-4 gy-3">
        <div class="row">
            <div class="col-12 mt-2">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" required/>
            </div>

            <div class="col-12 mt-2">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" required />
            </div>

             <div class="col-12 text-center mt-5">
            <button type="submit" class="btn btn-dark">Submit</button>
            </div>
        </div>
    </div>
</form>

<%- include('../partials/footer.ejs') %>